@model CommentGaleryViewModel

@{
    ViewData["Title"] = "Çalışma Detayı";
}

<!-- Page Title -->
<div class="page-title" data-aos="fade">
    <div class="heading">
        <div class="container">
            <div class="row d-flex justify-content-center text-center">
                <div class="col-lg-12">
                    <h1>Çalışma Detayı</h1>
                    <p class="mb-0">Kalite anlayışımız, hem ürünlerimizde hem de sunduğumuz hizmetlerde en yüksek standartları yakalamak üzerine kuruludur. Müşterilerimize sunduğumuz her çözümde uzun vadeli başarıya odaklanır, kaliteli ürünler ve profesyonel hizmet ile bu kaliteyi güvence altına alırız.</p>
                    <a href="/Contact" class="cta-btn">İletişime Geçin<br></a>
                </div>
            </div>
        </div>
    </div>
    <nav class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="/Index">Anasayfa</a></li>
                <li class="current">Çalışma Detay</li>
            </ol>
        </div>
    </nav>
</div><!-- End Page Title -->
<!-- Gallery Details Section -->
<section id="gallery-details" class="gallery-details section">

    <div class="container" data-aos="fade-up">

        <div class="portfolio-details-slider swiper init-swiper">
            <script type="application/json" class="swiper-config">
                {
                "loop": true,
                "speed": 600,
                "autoplay": {
                "delay": 5000
                },
                "slidesPerView": "auto",
                "navigation": {
                "nextEl": ".swiper-button-next",
                "prevEl": ".swiper-button-prev"
                },
                "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
                }
                }
            </script>
            <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                    <img src="/img/galery/@Model.Galery.Image1" alt="">
                </div>

                <div class="swiper-slide">
                    <img src="/img/galery/@Model.Galery.Image2" alt="">
                </div>

                <div class="swiper-slide">
                    <img src="/img/galery/@Model.Galery.Image3" alt="">
                </div>

                <div class="swiper-slide">
                    <img src="/img/galery/@Model.Galery.Image4" alt="">
                </div>

                <div class="swiper-slide">
                    <img src="/img/galery/@Model.Galery.Image5" alt="">
                </div>

            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-pagination"></div>
        </div>

        <div class="row justify-content-between gy-4 mt-4">

            <div class="col-lg-8" data-aos="fade-up">
                <div class="portfolio-description">
                    <h2>@Model.Galery.WorkingName</h2> <br />
                    @Model.Galery.Description
                </div>
            </div>

            <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">
                <div class="portfolio-info">
                    <h3>Çalışma Detay Bilgisi</h3>
                    <ul>
                        <li><strong>Kategori</strong> @Model.Galery.Category </li>
                        <li><strong>Müşteri</strong> @Model.Galery.Client</li>
                        <li><strong>Proje Tarihi</strong> @Model.Galery.WorkingDate.ToShortDateString()</li>
                    </ul>
                </div>
            </div>

        </div>

    </div>

</section><!-- /Gallery Details Section -->
<!-- Comment Section -->
<section id="contact" class="contact section">

    <div class="container">
        <p>Yorum yapmak ister misiniz?</p>
        <form asp-action="Comment" asp-controller="Home" method="post">
            <input type="hidden" name="_galeryId" value="@Model.Comment.GaleryId" />
            <div class="row gy-3">

                <div class="row mt-2 text-center">
                    <div class="col-md-6 col-offset-3">
                        <input type="text" name="_name" class="form-control" placeholder="Adınız..." required="">
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-6 col-offsett-3">
                        <textarea class="form-control" name="_description" rows="6" placeholder="Yorumunuz..." required=""></textarea>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-6  col-offsett-3 text-center">
                        <button type="submit" class="btn btn-success btn-lg">Yorum Yap</button>
                    </div>
                </div>

            </div>
        </form><!-- End Contact Form -->
    </div>

</section><!-- /Contact Section -->